@import 'variables';
@import 'fonts';
@import 'reset';

@media (max-width: 767px) {
  body{overflow-x: hidden;}
  [class*=inner] {
    width: 95%;
  }
  .header{
    .logo{font-size: 18px;}
  }
  /* intro */
  .intro{
    .intro-title{
      .keep-going{
        height: 500px;
        &::before{
          background-size: cover;
          width: 380px;
          height: 300px;
          top: 70px;
          left: -5px;
          transform: rotate(3deg);
        }
        &::after{
          display: none;
        }
        h2{font-size: 40px; line-height: 500px;}
      }
    }
    .intro-text-wrap{
      .intro-text{
        height: 500px;
        &::before{
          width: 170px;
          height: 170px;
          bottom: 100px;
          right: 0;
          background: url(../images/w-bg-deco03.png);
          background-repeat: no-repeat;
          background-size: contain;
          transform: translateX(0);
        }
        &::after{
          width: 130px;
          height: 130px;
          bottom: 90px;
          right: 0;
          background: url(../images/w-bg-deco06.png);
          background-repeat: no-repeat;
          background-size: contain;
          transform: translate(0);
        }
        h3{
          font-size: 16px;
        }
      }
    }
  }
  /* projects */
  .projects{
    &::before{
      width: 100px;
      background-size: contain;
      top: -10px;
      transform: translateX(0);
    }
    &::after{
      bottom: -100px;
      transform: translate(0);
      width: 120px;
      height: 100px;
      background-size: contain;
    }
    .projects-title{
      margin-bottom: 25px;
      h4{font-size: 30px;}
    }
    .projects-container{
      .projects-btns{
        width: 95%;
        margin: auto;
        flex-wrap: wrap;
        button{
          font-size: 16px;
        }
      }
      .projects-wrap{
        justify-content: center;
        .project{
          height: 420px;
          .project-thumb{
            img{height: 240px;}
          }
          .project-desc{
            h5{font-size: 18px; margin-bottom: 10px;}
            p{margin-bottom: 10px; font-size: 14px; font-weight: lighter;}
            .project-tag{
              span{font-size: 13px;}
            }
            .project-btn-wrap {
              margin-top: 15px;
              .button{
                font-size: 16px;
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
  /* footer */
  .footer{
    p{font-size: 15px;}
  }
}