/* Font Family */
$primary-kr : 'SpoqaHanSansNeo-Regular';
$primary-en : 'Cafe24Meongi-W-v1.0';
$secondary-kr: 'ChosunGu';
/* Text Color */
$dark-black:#333333;
$silver-black:#777777;
$silver-gray:#F0F0F0;
/* Object Color */
$crimson: #D72539;
$white:#FFFFFF;
$black :#161616;
/* object */
$btn-padding: 5px 15px;
$btn-radius: 7px;